<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="mp uap uap5 uap10 rescap">

  <!-- PackageName and Publisher must come from Partner Center for Store
       submissions, or exactly match the subject of the certificate used for
       direct distribution. Keep both values stable after the first release. -->
  <Identity
    Name="{{PackageName}}"
    Publisher="{{Publisher}}"
    Version="{{PackageVersion}}"
    ProcessorArchitecture="{{Architecture}}" />

  <Properties>
    <DisplayName>Battuta</DisplayName>
    <PublisherDisplayName>{{PublisherDisplayName}}</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="zh-CN" />
  </Resources>

  <Applications>
    <Application
      Id="Battuta"
      Executable="Battuta.exe"
      uap10:RuntimeBehavior="packagedClassicApp"
      uap10:TrustLevel="mediumIL">
      <uap:VisualElements
        AppListEntry="default"
        DisplayName="Battuta"
        Description="键盘与点击音效"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Square150x150Logo="Assets\Square150x150Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
      </uap:VisualElements>

      <Extensions>
        <uap5:Extension
          Category="windows.startupTask"
          Executable="Battuta.exe"
          uap10:RuntimeBehavior="packagedClassicApp"
          uap10:TrustLevel="mediumIL"
          uap10:Parameters="--startup">
          <uap5:StartupTask
            TaskId="BattutaStartup"
            Enabled="true"
            DisplayName="Battuta" />
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
